<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Electro</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/template/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/template/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/template/css/slick-theme.css" />
    <link type="text/css" rel="stylesheet" href="~/template/css/nouislider.min.css" />
    <link rel="stylesheet" href="~/template/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/template/css/style.css" />

</head>
<div>
    <body>
        <header>
            <div id="header">
                <div class="container">
                    <div>
                        <div>
                            <div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="header-logo">
                                            <a href="#" class="logo">
                                                <img src="~/template/img/logo.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <br />

        @RenderBody()

        <script src="~/template/js/jquery.min.js"></script>
        <script src="~/template/js/bootstrap.min.js"></script>
        <script src="~/template/js/slick.min.js"></script>
        <script src="~/template/js/nouislider.min.js"></script>
        <script src="~/template/js/jquery.zoom.min.js"></script>
        <script src="~/template/js/main.js"></script>
    </body>
</div>
</html>
