
@{
    ViewBag.Title = "PerfilUsuario";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<h1>PerfilUsuario</h1>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>